# SPDX-FileCopyrightText: 2026 Eduardo Monsalve Ariza
# SPDX-FileCopyrightText: 2026 Jesús Manuel Farfán
# SPDX-FileCopyrightText: 2026 Ángel Manuel Quintero
#
# SPDX-License-Identifier: Apache-2.0

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

# Pass Authorization header to PHP
RewriteCond %{HTTP:Authorization} .
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
